<p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header="Modifier la paiement" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid">
                <div class="p-field p-sm-6">
                    <label for="libelle">Libelle</label>
                    <input type="text" pInputText id="libelle" [(ngModel)]="selected.libelle"/>
                </div>
                <div class="p-field p-sm-6">
                    <label for="code">Code</label>
                    <input type="text" pInputText id="code" [(ngModel)]="selected.code" disabled/>
                </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label for="date">Date De Paiement</label>
                <input type="date" pInputText id="date" [(ngModel)]="selected.datePaiement"/>
            </div>
            <div class="p-field p-sm-6">
                <label for="montant">Montant</label>
                <input type="number" pInputText id="montant" [(ngModel)]="selected.montant"/>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label for="etat">Etat</label>
                <p-dropdown id="etat" [options]="itemsEtats" [(ngModel)]="selected.etatPaiement"
                            optionLabel="libelle"></p-dropdown>
            </div>
            <div class="p-field p-sm-6">
                <label for="type">Type</label>
                <p-dropdown id="type" [options]="itemsTypes" [(ngModel)]="selected.typePaiement"
                            optionLabel="libelle"></p-dropdown>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Mise à jour" icon="pi pi-check" class="p-button-text" (click)="edit()"></button>
    </ng-template>
</p-dialog>



