<div class="card" style="height: 110px; background-color: #e5e8e8">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="client">Client</label><br>
            <p-dropdown id="client" [options]="itemsClients" [(ngModel)]="tacheVo.clientId"
                        optionLabel="libelle" optionValue="id"
                        (onChange)="findProjectsByClientId(tacheVo.clientId)"></p-dropdown>
        </div>
        <div class="p-field p-col">
            <label for="nro">Nro</label>
            <p-dropdown id="nro" [options]="itemsProjets" [(ngModel)]="tacheVo.nroId" optionLabel="code" optionValue="id"></p-dropdown>
        </div>

        <div class="p-field p-col">
            <label for="sro">Sro</label>
            <p-dropdown id="sro" [options]="itemslots" [(ngModel)]="tacheVo.sroId" optionLabel="code" optionValue="id"></p-dropdown>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="equipe">Equipe</label>
            <p-dropdown id="equipe" [options]="itemsEquipes" [(ngModel)]="tacheVo.equipeId" optionLabel="libelle" optionValue="id" ></p-dropdown>
        </div>
        <div class="p-field p-col">
            <label for="collaborateur">Collaborateur</label>
            <p-dropdown id="collaborateur" [options]="itemsCollaborateurs" [(ngModel)]="tacheVo.membreEquipeId" optionLabel="nom" optionValue="id" ></p-dropdown>
        </div>
        <div class="p-field p-col">
            <label>DateDemarrageMin</label>
            <p-calendar  [(ngModel)]="tacheVo.dateDemarrageEffectiveMin" [inline]="true"></p-calendar>

        </div>
        <div class="p-field p-col">
            <label>DateDemarrageMax</label>
            <p-calendar [(ngModel)]="tacheVo.dateDemarrageEffectiveMax" [inline]="true"></p-calendar>
        </div>
    </div>
    <button pButton pRipple type="button" label="Success" class="p-button-rounded p-button-success"></button>


</div>


