<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header="Ajouter un MembreEquipe" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label>Equipe</label>
            <p-dropdown [options]="equipes"  [showClear]="true"
                        optionValue="id" [(ngModel)]="selected.equipe.libelle" ></p-dropdown>

        </div>
        <div class="p-field">
            <label>Collaborateur</label>
            <p-dropdown [options]="collaborateurs"  [showClear]="true"
                        optionValue="id" [(ngModel)]="selected.collaborateur.nom" ></p-dropdown>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
        <!--(click)="save()"-->
    </ng-template>
</p-dialog>
