<div class="p-grid">
<div class="p-field p-sm-6">
    <div class="card">
    <div class="card-header">Ajouter equipe</div>
        <div class="card-body">
            <div class="p-grid">
                    <label for="equipe">Equipe </label>
                    <p-dropdown id="equipe" [options]="itemsEquipes" [(ngModel)]="selected.equipe"
                                optionLabel="libelle"></p-dropdown>
            </div>
        </div>

        <div class="card-footer">
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="ajouerProjetEquipe()"></button>
        </div>
    </div>

</div>
<div class="p-field p-sm-6">
    <div class="p-grid">
        <div class="p-col-12">

            <p-toast></p-toast>

            <div class="card">
                <p-table #dt [value]="items" [columns]="cols" [rows]="4" [paginator]="true"
                         [globalFilterFields]="['id']"
                         [(selection)]="selectes" [rowHover]="true" dataKey="id"
                         styleClass="p-datatable-customers"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                            <h5 class="p-m-0">Equipes</h5>
                            <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="Search..."/>
                    </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="libelle">Libelle
                                <p-sortIcon field="libelle"></p-sortIcon>
                            </th>
                            <th pSortableColumn="equipe">Equipe
                                <p-sortIcon field="libelle"></p-sortIcon>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" >
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="selectedProjet.projetEquipes"></p-tableCheckbox>
                            </td>
                            <td>{{selectedProjet.projetEquipes}}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-sm p-button-rounded p-button-danger p-mr-2" (click)="delete(projetEquipes)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            In total there are {{items ? items.length : 0 }} items.
                        </div>
                    </ng-template>
                </p-table>
            </div>
            <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
        </div>
    </div>
</div>
</div>
