<div class="card"  style="height: 110px; background-color: #e5e8e8">
    <div class="p-grid">
        <div class="p-grid p-field p-sm-2"></div>
        <div class="p-grid p-field p-sm-7">
            <div class="p-field p-sm-6">
                <label><span style="color: #027abc">Date Min:</span></label><br>
                <p-calendar [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"
                            [(ngModel)]="selected.dateDemarrageEffectiveMin"></p-calendar>
            </div>
            <div class="p-field p-sm-6">
                <label><span style="color: #027abc">Date Max:</span></label><br>
                <p-calendar [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"
                            [(ngModel)]="selected.dateDemarrageEffectiveMax"></p-calendar>
            </div>
        </div>
        <div class=" p-field p-sm-1"></div>
        <div class=" p-field p-sm-1">
            <br><br>
                <button pButton icon="pi pi-search" label="Rechercher" class="p-button-primary p-button-outlined"
                        (click)="suivreCollaborateurs()"></button>
        </div>
    </div>
</div>
