<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openCreate()"></button>
                    <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteMultiple()" [disabled]="!selectes || !selectes.length"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importer" chooseLabel="Importer" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>
                    <button pButton pRipple label="Exporter" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
<!--                    <button pButton pRipple label="Exporter" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="printPaiement()"></button>-->
<!--                    <a *ngIf="reportName.name"href="assets/reports/{{reportName.name}}">Imprimer la liste</a>-->
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="items" [columns]="cols" [rows]="4" [paginator]="true" [globalFilterFields]="['code','libelle']"
                     [(selection)]="selectes" [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste Des Paiements</h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"  placeholder="Search..." />
                    </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="libelle">Libelle <p-sortIcon field="libelle"></p-sortIcon></th>
                        <th pSortableColumn="date">Date De Paiement <p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="type">Type De Paiement <p-sortIcon field="type"></p-sortIcon></th>
                        <th pSortableColumn="montant">Montant <p-sortIcon field="montant"></p-sortIcon></th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-paiement>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="paiement"></p-tableCheckbox>
                        </td>
                        <td>{{paiement.libelle}}</td>
                        <td>{{paiement.datePaiement}}</td>
                        <td>{{paiement.typePaiement.libelle}}</td>
                        <td>{{paiement.montant}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2" (click)="edit(paiement)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2" (click)="view(paiement)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="delete(paiement)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{items ? items.length : 0 }} items.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-paiement-create></app-paiement-create>
        <app-paiement-edit></app-paiement-edit>
        <app-paiement-view></app-paiement-view>
        <p-confirmDialog [style]="{width: '450px'}" key="paiement"></p-confirmDialog>
    </div>
</div>
