<p-dialog [(visible)]="viewDialog" [style]="{width: '450px'}" header="Equipe Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="libelle">Libelle</label>
            <input type="text" pInputText id="libelle" [(ngModel)]="selected.libelle" disabled />
        </div>
        <div class="p-field">
            <label for="responsable">Responsable</label>
            <input type="text" pInputText id="responsable" value="{{selected.responsable.nom}} {{selected.responsable.prenom}}" disabled />
        </div>



        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="etatEquipe">Etat Equipe</label>
                <input type="text" pInputText id="etatEquipe" [(ngModel)]="selected.etatEquipe.libelle" disabled />

            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>
