<p-dialog [(visible)]="viewDialog" [style]="{width: '70%'}" header="Projet Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid">
            <div class="p-field p-sm-3">
                <label for="code">Code</label>
                <input type="text" pInputText id="code" [(ngModel)]="selected.code" disabled/>
            </div>
            <div class="p-field p-sm-3">
                <label for="total">Libelle</label>
                <input type="text" pInputText id="total" [(ngModel)]="selected.libelle" disabled/>
            </div>
            <div class="p-field p-sm-3">
                <label for="totale">Desctiption</label>
                <input type="text" pInputText id="totale" [(ngModel)]="selected.description" disabled/>
            </div>
            <div class="p-field p-sm-3">
                <label for="nro">Nro</label>
                <input type="text" pInputText id="nro" [(ngModel)]="selected.nro.code" disabled/>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-3">
                <label for="datedemarre">Date Démarrage Effective</label>
                <input type="date" pInputText id="datedemarre" [(ngModel)]="selected.dateDemarrageEffective" disabled autofocus/>
            </div>
            <div class="p-field p-sm-3">
                <label for="datedemarrep">Date Démarrage Prévu</label>
                <input type="date" pInputText id="datedemarrep" [(ngModel)]="selected.dateDemarragePrevu" required
                       autofocus disabled/>
            </div>
            <div class="p-field p-sm-3">
                <label for="datefin">Date Fin Effective</label>
                <input type="date" pInputText id="datefin" [(ngModel)]="selected.dateFinEffective" disabled/>
            </div>
            <div class="p-field p-sm-3">
                <label for="datefinp">Date Fin Prévu</label>
                <input type="date" pInputText id="datefinp" [(ngModel)]="selected.dateFinPrevu" disabled/>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-4">
                <label for="client">Client </label>
                <input type="text" pInputText id="client" value="{{selected.client.libelle}}" disabled />
            </div>
            <div class="p-field p-sm-4">
                <label for="etat">Etat</label>
                <input type="text" pInputText id="etat" value="{{selected.etatProjet.libelle}}" disabled />
            </div>
            <div class="p-field p-sm-4">
                <label for="res">Responsable </label>
                <input type="text" pInputText id="res" value="{{selected.responsable.nom}} {{selected.responsable.prenom}}" disabled />
            </div>

        </div>
        <div class="p-grid">
            <div class="p-field p-sm-3">
                <label for="nombreJoureHommeEffectif">NbrJrsEffectif</label>
                <input type="number" pInputText id="nombreJoureHommeEffectif"
                       [(ngModel)]="selected.nombreJoureHommeEffectif" disabled/>

            </div>
            <div class="p-field p-sm-3">
                <label for="nombreJoureHommeRetard">NbrJrsRetard</label>
                <input type="number" pInputText id="nombreJoureHommeRetard" [(ngModel)]="selected.nombreJoureHommeRetard" disabled/>
            </div>
            <div class="p-field p-sm-3">
                <label for="avancement">Avancement</label>
                <input type="number" pInputText id="avancement" [(ngModel)]="selected.avancement" disabled/>
            </div>
            <div class="p-field p-sm-3">
                <label>Show Equipes</label>
                <button pButton type="button"  label="Equipes" class="p-button-raised p-button-rounded" (click)="findItems(selected)"></button>
            </div>
        </div>
            <app-projet-equipe-view-list></app-projet-equipe-view-list>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>
