<p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header="MODIFIER LA TACHE" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid">
            <div class="p-field p-sm-6">
                <div class="p-field">
                    <label for="libelle">Libelle</label>
                    <input type="text" pInputText id="libelle" [(ngModel)]="selected.libelle"/>
                </div>
                <div class="p-field">
                    <label for="code">Code</label>
                    <input type="text" pInputText id="code" [(ngModel)]="selected.code" required autofocus/>
                </div>
            </div>
            <div class="p-field p-col">
                <label for="descrip">Description</label>
                <textarea id="descrip" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"
                          [(ngModel)]="selected.description">
                </textarea>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label for="datedemarre">Date Démarrage Effective</label>
                <input type="date" pInputText id="datedemarre" [(ngModel)]="selected.dateDemarrageEffective" />
            </div>
            <div class="p-field p-sm-6">
                <label for="datefin">Date Fin Effective</label>
                <input type="date" pInputText id="datefin" [(ngModel)]="selected.dateFinEffective" />
            </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-4">
                <label for="etat">Etat</label>
                <p-dropdown id="etat" [options]="itemsEtats" [(ngModel)]="selected.etatTache"
                            optionLabel="libelle"></p-dropdown>
            </div>
            <div class="p-field p-sm-4">
                <label for="categorie">Catégorie</label>
                <p-dropdown id="categorie" [options]="itemsCategories" [(ngModel)]="selected.categorieTache"
                            optionLabel="libelle"></p-dropdown>
            </div>
            <div class="p-field p-sm-4">
                <label for="periode">Période</label>
                <p-dropdown id="periode" [options]="itemsPeriodes" [(ngModel)]="selected.periode"
                            optionLabel="libelle"></p-dropdown>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
        <button pButton pRipple label="Mise à jour" icon="pi pi-check" class="p-button-text" (click)="edit()"></button>
    </ng-template>
</p-dialog>



