<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header="Créer une Demande de congé" [modal]="true" styleClass="p-fluid ">
    <ng-template pTemplate="content" >
        <div class="p-grid">
          <div class="p-field p-sm-6">
            <label for="code">Code</label>
            <input type="text" pInputText id="code" [(ngModel)]="selected.code" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !selected.code">Code is required.</small>
          </div>
          <div class="p-field p-sm-6">
              <label for="collaborator">Collaborator</label>
        <p-dropdown [options]="itemsc"  id="collaborator" [(ngModel)]="selected.collaborateur" placeholder="Select a collaborator" optionLabel="prenom" [showClear]="true"></p-dropdown>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-field p-sm-6">
              <div *ngFor="let etat of itemse" class="p-field-checkbox">
                  <p-radioButton [inputId]="etat.code" name="category" [value]="etat" [(ngModel)]="selected.etatDemandeConge" [disabled]="etat.code === 'R'"></p-radioButton>
                  <label [for]="etat.code">{{etat.libelle}}</label>
                  <small class="p-invalid" *ngIf="submitted && !selected.etatDemandeConge">etat demande conge is required.</small>
              </div>
          </div>
          <div class="p-field p-sm-6">
              <label>Msg Collaborateur</label>
              <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" [(ngModel)]="selected.messageCollaborateur"></textarea>
          </div>
        </div>

        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label for="dateDepart"></label>
                <input type="date" pInputText id="dateDepart" [(ngModel)]="selected.dateDepart" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.dateDepart">date is required.</small>
            </div>
            <div class="p-field p-sm-6">
                <!--<label >Date Fin</label>
                <p-calendar [(ngModel)]="selected.dateFin" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"></p-calendar>-->
                <label for="dateFin"></label>
                <input type="date" pInputText id="dateFin" [(ngModel)]="selected.dateFin" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.dateFin">date is required.</small>
            </div>
        </div>

    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
