<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header="DemandeConge  Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid">
          <div class="p-field p-sm-6">
            <label for="code">Code</label>
            <input type="text" pInputText id="code" [(ngModel)]="selected.code" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !selected.code">Code is required.</small>
          </div>
          <div class="p-field p-sm-6">
              <label for="collaborator">Collaborator</label>
        <p-dropdown [options]="itemsc"  id="collaborator" [(ngModel)]="selected.collaborateur" placeholder="Select a collaborator" optionLabel="prenom" [showClear]="true"></p-dropdown>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-field p-sm-6">
           <!-- <label>Etat Demande Conge:</label>
            <div class="p-field-radiobutton">
                <p-radioButton name="etatDemandeConge" value="en cours de traitement" [(ngModel)]="selected.etatDemandeConge" inputId="29"></p-radioButton>
                <label >En cours</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="etatDemandeConge" value="acceptée" [(ngModel)]="selected.etatDemandeConge" inputId="30"></p-radioButton>
                <label >Acceptée</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="etatDemandeConge" value="refusée" [(ngModel)]="selected.etatDemandeConge" inputId="31"></p-radioButton>
                <label >Refusée</label>
            </div>
            <small class="p-invalid" *ngIf="submitted && !selected.etatDemandeConge">etat demande conge is required.</small>-->
              <div *ngFor="let etat of itemse" class="p-field-checkbox">
                  <p-radioButton [inputId]="etat.code" name="category" [value]="etat" [(ngModel)]="selected.etatDemandeConge" [disabled]="etat.code === 'R'"></p-radioButton>
                  <label [for]="etat.code">{{etat.libelle}}</label>
                  <small class="p-invalid" *ngIf="submitted && !selected.etatDemandeConge">etat demande conge is required.</small>
              </div>
          </div>
          <div class="p-field p-sm-6">
              <label>Msg Collaborateur</label>
              <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" [(ngModel)]="selected.messageCollaborateur"></textarea>
          </div>
        </div>

        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label >Date de départ</label>
                <p-calendar [(ngModel)]="selected.dateDepart" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"></p-calendar>
            </div>
            <div class="p-field p-sm-6">
                <label >Date Fin</label>
                <p-calendar [(ngModel)]="selected.dateFin" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"></p-calendar>
            </div>
        </div>

    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
