<div class="card"  style="height: 110px; background-color: #B3E5FC">
    <div class="p-grid">
        <div class="p-grid p-field p-sm-10">
            <div class="p-field p-sm-4">
                <label for="client">Client:</label><br>
                <p-dropdown id="client" [options]="itemsClients" [(ngModel)]="groupeTacheVO.clientId"
                            optionLabel="libelle" optionValue="id"
                            (onChange)="findProjectsByClientId(groupeTacheVO.clientId)"></p-dropdown>
            </div>
            <div *ngIf="groupeTacheVO.clientId != null" class="p-field p-sm-4">
                <label for="projet">Projet:</label><br>
                <p-dropdown id="projet" [options]="itemsProjets" [(ngModel)]="groupeTacheVO.projetId"
                            optionLabel="libelle" optionValue="id"
                            (onChange)="findLotsByProjetId(groupeTacheVO.projetId)"></p-dropdown>
            </div>
            <div *ngIf="groupeTacheVO.projetId != null" class="p-field p-sm-4">
                <label for="lot">Lot:</label><br>
                <p-dropdown id="lot" [options]="itemsLots" [(ngModel)]="groupeTacheVO.lotId"
                            optionLabel="libelle" optionValue="id"></p-dropdown>
            </div>
        </div>
        <div class="p-grid p-field p-sm-2">
            <div class="p-grid p-field p-sm-12"></div>
            <div class="p-grid p-field p-sm-12">
                <button pButton label="Rechercher" icon="pi pi-search" class="p-button-info p-button"
                        (click)="findGroupeTacheByCreteria()"></button>
            </div>
        </div>
    </div>
</div>
