<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header="Ajouter un equipe " [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label>Libelle</label>
            <p-dropdown [options]="items"  [showClear]="true"
                        optionValue="id" [(ngModel)]="selected.libelle" ></p-dropdown>
        </div>
        <div class="p-field">
            <label>Collaborateur</label>
            <p-dropdown [options]="collaborateurs" [showClear]="true"
                        optionValue="id" [(ngModel)]="selected.responsable.nom"></p-dropdown>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label>EtatEquipe</label>
                <p-dropdown [options]="etatEquipes" [showClear]="true"
                            optionValue="id" [(ngModel)]="selected.etatEquipe.libelle"></p-dropdown>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
