<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteMultiple()" [disabled]="!selectes || !selectes.length"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="items" [columns]="cols" [rows]="4" [paginator]="true" [globalFilterFields]="['code']"
                     [(selection)]="selectes" [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Manage Facturs</h5>
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"  placeholder="Search..." />
                    </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="libelle">Libelle<p-sortIcon field="libelle"></p-sortIcon></th>
                        <th pSortableColumn="totalHeurs">Total d’Heures<p-sortIcon field="totalHeurs"></p-sortIcon></th>
                        <th pSortableColumn="montant">Montant<p-sortIcon field="montant"></p-sortIcon></th>
                        <th pSortableColumn="dateFacture">Date Facture<p-sortIcon field="dateFacture"></p-sortIcon></th>
                        <th pSortableColumn="client">Client<p-sortIcon field="client"></p-sortIcon></th>
                        <th pSortableColumn="etatFacture">Etat Facture<p-sortIcon field="etatFacture"></p-sortIcon></th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-facture>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="facture"></p-tableCheckbox>
                        </td>
                        <td>{{facture.libelle}}</td>
                        <td>{{facture.totalHeursCalcules}} (Calculées)<br>{{facture.totalHeursFactures}} (Facturées)</td>
                        <td>{{facture.montantCalcule}} (Calculé)<br>{{facture.montantFacture}} (Facturé)</td>
                        <td>{{facture.dateFacture}}</td>
                        <td>{{facture.client.libelle}}</td>
                        <td>{{facture.etatFacture.libelle}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="edit(facture)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2" (click)="view(facture)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2" (click)="delete(facture)"></button>
                            <button pButton pRipple icon="pi pi-chevron-circle-right" class="p-button-sm p-button-rounded p-button-help" (click)="findItems(facture)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{items ? items.length : 0 }} items.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-facture-create></app-facture-create>
        <app-facture-view></app-facture-view>
        <app-facture-edit></app-facture-edit>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
