<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header="Créer un nouveau groupe de tache" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label for="code">Code</label>
                <input type="text" pInputText id="code" [(ngModel)]="selected.code" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.code">ref is required.</small>
            </div>
            <div class="p-field p-sm-6">
                <label for="total">Libelle</label>
                <input type="text" pInputText id="total" [(ngModel)]="selected.libelle" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.libelle">libelle is required.</small>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label for="datedemarre">Date Démarrage Effective</label>
                <input type="date" pInputText id="datedemarre" [(ngModel)]="selected.dateDemarrageEffective" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.dateDemarrageEffective">date is required.</small>
            </div>
            <div class="p-field p-sm-6">
                <label for="datefin">Date Fin Effective</label>
                <input type="date" pInputText id="datefin" [(ngModel)]="selected.dateFinEffective" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !selected.dateFinEffective">date is required.</small>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label for="equipe">Equipe</label>
                <p-dropdown id="equipe" [options]="itemsEquipes" [(ngModel)]="selected.equipe" optionLabel="libelle"></p-dropdown>
            </div>
            <div class="p-field p-sm-6">
                <label for="lot">Lot</label>
                <p-dropdown id="lot" [options]="itemsLots" [(ngModel)]="selected.lot" optionLabel="libelle"></p-dropdown>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-field p-sm-6">
                <label for="etat">Etat</label>
                <p-dropdown id="etat" [options]="itemsEtats" [(ngModel)]="selected.etatGroupeTache" optionLabel="libelle"></p-dropdown>
            </div>
            <div class="p-field p-sm-6">
                <label for="categorie">Catégorie</label>
                <p-dropdown id="categorie" [options]="itemsCategories" [(ngModel)]="selected.categorieGroupeTache" optionLabel="libelle"></p-dropdown>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>
